.weather{
    padding: 1em;
    display : grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: lightblue;
}
.forecast{
    margin-bottom: 3em;
    
}
.forecast p{
    font-size: 1.2em;
}
.iconTime p{
    display: inline-block;
}
.backButton button{
    font-size: 1.1em;
    padding: 0.5em;
}
.forecastContainer{
    padding: 1em 1em 1em 2.5em;
    
}
.tempdata{
    text-align: center;
}
.fullheading{
    margin-bottom: 2em;
    text-align: center;
}

@media screen and (min-width: 40em) {
    .tempdata{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .headingButton{
        display: grid;
        grid-template-columns: minmax(auto, auto) 1fr; 
    }
    

}
@media screen and (min-width: 60em) {
    .tempdata{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}